.nav-bar{
    display: flex;
}
.nav-list-item{
    flex: 1;
    text-align: center;
    margin: 0;
}
form{
    text-align: center;
}
form label{
    display: inline;
}
body img{
    max-width: 400px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}